<mat-toolbar color="primary">
   <mat-toolbar-row>
      <button mat-button disabled>
         <img class="jpg-icon"  src="../assets/img/logo_rjj.png" 
             style="max-height: 100%; min-height: 100%;" href="/">
       </button>
      <span class="spacer"></span>
      <a  mat-button  routerLink="/logs">Logs</a>
      <a  mat-button  routerLink="/search">Consulta</a>
      <a  mat-button  routerLink="/register">Registro</a>
      <a  mat-button  routerLink="/login">Login</a>
   </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
